<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.emp.EmpDao">
    <select id="getEmp" resultType="map">
        select * from(
          select rownum rn,EMP_ID as empId,EMP_NAME as EmpName,EMP_USER as userName,EMP_PHONE as phone,EMP_PASS as password,EMP_SEX as sex,EMP_ADDR as addr,EMP_ROLE as role from tab_emp
        <where>
            and rownum &lt; #{end}

            <if test="VipName!=null and VipName!=''">
                and vip_name like '%'||#{VipName}||'%'
            </if>
            <if test="VipPhone!=null and VipPhone!=''">
                and vip_phone like '%'||#{VipPhone}||'%'

            </if>
            <if test="VipCard!=null and VipCard!=''">
                and vip_card like '%'||#{VipCard}||'%'

            </if>
            <if test="VipState!=null and VipState!=''">
                and vip_state like '%'||#{VipState}||'%'

            </if>
        </where>
        ) a where a.rn &gt; #{start}
    </select>
    <select id="getCountEmp" resultType="int">
        select count(*) from tab_emp
    </select>
    <insert id="addEmp" parameterType="map">
        insert into tab_emp values(seq_emp_id.nextval,#{EmpName},#{sex},#{userName},#{password},#{phone},#{addr},#{role})
    </insert>
</mapper>
