<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.emp.EmpDao">
    <select id="getEmp" resultType="map">
        select * from(
          select rownum rn,EMP_ID as empId,EMP_NAME as EmpName,EMP_USER as userName,EMP_PHONE as phone,emp_sex as sex,EMP_PASS as password,TRUNC((to_char(sysdate, 'yyyyMMdd') - to_char(emp_birth, 'yyyyMMdd')) /
        10000) as birth,EMP_ADDR as addr,EMP_ROLE as role from tab_emp
        <where>
            and rownum &lt; #{end}
        </where>
        ) a where a.rn &gt; #{start}
    </select>
    <select id="getCountEmp" resultType="int">
        select count(*) from tab_emp
    </select>
    <insert id="addEmp" parameterType="map">
        <selectKey keyProperty="empNo" order="BEFORE" resultType="int">
            select seq_emp_id.nextval from dual
        </selectKey>
        insert into tab_emp values(#{empNo},#{EmpName},#{userName},#{password},#{sex},#{addr},#{role},to_date(#{birth},'yyyy-mm-dd'),#{phone})
    </insert>
    <delete id="delEmp" parameterType="int">
        delete from tab_emp where emp_id=#{empId}
    </delete>
    <update id="updateEmp" parameterType="map">
        update tab_emp set emp_user=#{USERNAME},emp_pass=#{PASSWORD},emp_addr=#{ADDR},emp_role=#{ROLE},emp_phone=#{PHONE} where emp_id=#{EMPID}
    </update>
    <select id="getFunc" resultType="map">
        select * from tab_function
    </select>
</mapper>
