<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.login.LoginDao">
    <select id="userLogin" resultType="map">
        select EMP_USER,EMP_PASS,EMP_NAME from TAB_EMP where EMP_USER=#{userName} and EMP_PASS=#{passWord}
    </select>
</mapper>