<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.order.OrderDao">
    <!--查询所有菜品-->
    <select id="goodList" resultType="map">
        select FOOD_ID,FOOD_NAME,FOOD_PRICE,nvl(FOOD_PIC,'无') as FOOD_PIC from tab_food
    </select>

    <!--新增消费记录-->
    <insert id="order" parameterType="map">
    <!--获取新增的主键ID-->
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="orderId">
        SELECT SEQ_TAB_ORDER_ID.NEXTVAL as orderId from DUAL
    </selectKey>

        insert into TAB_CONSUME(CON_ID,CON_TYPE,CON_TIME,CON_ROOM,CON_PERSON,CON_STATE) values(#{orderId},#{contrller},sysdate,#{number},#{person},0)
    </insert>

    <!--开桌-->
    <update id="update">
        update TAB_TABLE set TAB_STATE=1 where TAB_ID=#{number}
    </update>

    <!--增加消费-->
    <insert id="insertChoose">
        insert into TAB_CON_RECORD(CON_ROOM,CON_GOODS)
        <foreach collection="list"  index="index" item="item" separator="union all">
            SELECT
            #{item.num},#{item.id}
            FROM dual
        </foreach>
    </insert>

    <!--结账-->
    <select id="countHistory" parameterType="map" resultType="map">
        select * from TAB_CONSUME
        where CON_ROOM=#{number} and CON_STATE=0
    </select>

    <!--结账详情-->
    <select id="countDetails" parameterType="map" resultType="map">
        select c.FOOD_NAME,c.FOOD_PRICE from TAB_CONSUME a join TAB_CON_RECORD b  on a.CON_ROOM=b.CON_ROOM join TAB_FOOD c on b.CON_GOODS=c.FOOD_ID
        where b.CON_ROOM=#{number}
    </select>

    <!--关闭桌子-->
    <update id="close">
        update TAB_RESERVE set STATE=0 where RE_NUMBER=#{number}
    </update>
    <!--关闭桌子-->
    <update id="closeTable">
        update TAB_TABLE set TAB_STATE=0 where TAB_ID=#{number}
    </update>
    <!--收钱记入账单-->
    <update id="put">
        update TAB_CONSUME set CON_STATE=1,CON_MONEY=#{sum} where CON_ROOM=#{number}
    </update>

    <!--查询会员内金额-->
    <select id="checkMoney" resultType="java.lang.Integer">
        select VIP_BALANCE from TAB_VIP where VIP_CARD=#{vip}
    </select>
    
    <!--vip扣费-->
    <update id="vip">
        update TAB_VIP set VIP_BALANCE=VIP_BALANCE-#{sum} where VIP_CARD=#{vip}
    </update>
</mapper>