<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.reserve.ReserveDao">

    <!--查询预订列表-->
    <select id="reList" resultType="map">
        select RE_NAME,RE_EMAIL,RE_PHONE,RE_NUMBER,to_char(RE_DATE,'yyyy-mm-dd')AS RE_DATE,RE_MESSAGE from TAB_RESERVE
    </select>

    <!--根据日期查询预订列表-->
    <select id="reserveList" resultType="map">
        select RE_NUMBER,state from TAB_RESERVE where to_char(RE_DATE,'yyyy-mm-dd')=#{selectDate} and RE_TIME=#{time}
    </select>

    <!--增加预定记录-->
    <insert id="addReserve" parameterType="map">
        insert into TAB_RESERVE
        values(SEQ_TAB_RESERVE_ID.nextval,#{name},#{email},#{phone},#{number},to_date(#{date},'yyyy-mm-dd'),#{message},2,#{time})
    </insert>


</mapper>