<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.VipDao.VipDao">
    <select id="VipQuery" resultType="map">
        select  * from
        (
        select rownum rn, vip_id,vip_name,vip_phone,vip_card,vip_sex,vip_balance,vip_state,vip_address from tab_vip

        <where>
            <if test="QueryName!=null and QueryName!=''">
                and vip_name =#{QueryName}
            </if>
            <if test="QueryPhone!=null and QueryPhone!=''">
                and vip_phone =#{QueryPhone}

            </if>
            <if test="QueryCard!=null and QueryCard!=''">
                and vip_card like '%'||#{QueryCard}||'%'

            </if>
            <if test="QueryState!=null and QueryState!=''">
                and vip_state = #{QueryState}

            </if>
            <if test="page!=null and page!=''">
                and rownum &lt; #{end} )a where a.rn &gt; #{start} and vip_state=0 or vip_state=1
            </if>
        </where>

    </select>
    <!--分页总数量-->
    <select id="VipGetPageCount" resultType="int">
        select count(*) from tab_vip where vip_state=0 or vip_state=1
    </select>

    <!--新增会员-->
    <insert id="VipAdd">
        insert into tab_vip values (seq_tab_vip_id.nextval,#{VIPname},#{VIPnumber},to_char(sysdate,'yyyymmddhh24miss'),#{sex},#{VIPbalance},0,#{VIPaddress},'','')

    </insert>
    <!--会员更新-->
    <update id="VipUpdate">
        update tab_vip set VIP_PHONE=#{VIP_PHONE},VIP_ADDRESS=#{VIP_ADDRESS},VIP_STATE=#{state} where VIP_ID=#{VIP_ID}
    </update>

    <!--会员删除时进行判断-->
    <select id="CheckDelete" parameterType="java.util.ArrayList" resultType="map">
        select VIP_BALANCE ,VIP_ID from tab_vip where VIP_ID in
        <foreach collection="array"  index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--会员删除-->
    <delete id="VipDelete"  parameterType="java.util.ArrayList" >
        delete from tab_vip where VIP_ID in
        <foreach collection="list"  index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>
    <!--统计会员个数-->
    <select id="countVip" resultType="int">
        select count (*) from TAB_VIP
    </select>
</mapper>
