<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.VipDao.VipDao">
    <select id="VipQuery" resultType="map">

        select rownum rn, vip_id,vip_name,vip_phone,vip_card,vip_sex,vip_balance,vip_state from tab_vip

        <where>
            <if test="QueryName!=null and QueryName!=''">
                and vip_name =#{QueryName}
            </if>
            <if test="QueryPhone!=null and QueryPhone!=''">
                and vip_phone =#{QueryPhone}

            </if>
            <if test="QueryCard!=null and QueryCard!=''">
                and vip_card like '%'||#{QueryCard}||'%'

            </if>
            <if test="QueryState!=null and QueryState!=''">
                and vip_state = #{QueryState}

            </if>
        </where>

    </select>
    <!--分页总数量-->
    <select id="VipGetPageCount" resultType="int">
        select count(*) from tab_vip
    </select>

    <!--新增会员-->
    <insert id="VipAdd">
        insert into tab_vip values (seq_tab_vip_id.nextval,#{VIPname},#{VIPnumber},to_char(sysdate,'yyyymmddhh24miss'),#{sex},#{VIPbalance},0,#{VIPaddress})

    </insert>
    <!--&lt;!&ndash;会员更新&ndash;&gt;-->
    <!--<update id="VipUpdate">-->
        <!--update tab_vip set VIP_PHONE='#{VIP_PHONE}' where VIP_ID='#{VIP_ID}'-->
    <!--</update>-->
</mapper>