<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.dao.VipDao.VipDao">
    <select id="VipQuery" resultType="map">
        select * from(
        select rownum rn, vip_id,vip_name,vip_phone,vip_card,vip_sex,vip_balance,vip_state from tab_vip

        <where>

        and rownum &lt; #{end}

        <if test="VipName!=null and VipName!=''">
            and vip_name like '%'||#{VipName}||'%'
        </if>
        <if test="VipPhone!=null and VipPhone!=''">
            and vip_phone like '%'||#{VipPhone}||'%'

        </if>
        <if test="VipCard!=null and VipCard!=''">
            and vip_card like '%'||#{VipCard}||'%'

        </if>
        <if test="VipState!=null and VipState!=''">
            and vip_state like '%'||#{VipState}||'%'

        </if>
        </where>

        )a where a.rn &gt; #{start}
    </select>
    <!--分页总数量-->
    <select id="VipGetPageCount" resultType="int">
        select count(*) from tab_vip
    </select>
</mapper>