<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>结账</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="/dinner/js/vue.js"></script>
    <script type="text/javascript" src="/dinner/js/axios.min.js"></script>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/dinner/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/dinner/js/xadmin.js"></script>
</head>
<body>

<div id="tableView">
    <el-form :model="Form" label-width="80px"  ref="Form">

        <el-form-item label="当班时间">

            <el-date-picker
                    v-model="Form.CREATE_DATE"
                    type="datetimerange"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :default-time="['12:00:00']">
            </el-date-picker>
        </el-form-item >
        <el-form-item label="交班员工">

            <el-input  prop="cEmp"  v-model="Form.cEmp" :disabled="true"></el-input>

        </el-form-item>
        <el-form-item label="上班留存">

            <el-input  prop="ykeep" v-model="Form.ykeep" :disabled="true"></el-input>

        </el-form-item>
        <el-form-item label="本班金额">

            <el-input  prop="money" v-model="Form.money" :disabled="true"></el-input>

        </el-form-item>
        <el-form-item label="接班员工">

            <el-select v-model="Form.jEmp" placeholder="请选择员工">
                <el-option v-for="item in options2"  :key="item.ID" :label="item.TITLE" :value="item.ID"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="上缴现金">

            <el-input  prop="turnin" v-model="Form.turnin" ></el-input>

        </el-form-item>
        <el-form-item label="本班留存">

            <el-input  prop="tkeep" v-model="Form.tkeep" ></el-input>

        </el-form-item>
        <el-form-item label="备注">

            <el-input
                    type="textarea"
                      prop="tkeep"
                      v-model="Form.remarke">

            </el-input>

        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer" style="margin-left: 1200px;">
        <el-button type="primary" @click.native="Submit" :loading="loading">提交</el-button>
    </div>
</div>

<script>



    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,

            Form: {
                CREATE_DATE:'',
                cEmp:'',
                ykeep:'',
                money:'',
                turnin:'',
                tkeep:'',
                remarke:''

            },
            methods:{
                Submit:function(){
                    var _self = this;
                    _self.loading = true;
                    var formData =this.Form;
                    //alert(formData);
                    this.goUrl="/dinner/"
                    var goUrl=this.goUrl;
                    //alert(goUrl);
                    //alert(JSON.stringify(formData));
                    axios.post(goUrl,formData).then(function(response){
                        // console.log(response.data);
                        // alert(222);
                        // self.total=response.data.total;
                        if(response.data>0){
                            _self.editFormVisible = false;
                            _self.loadingData();//重新加载数据
                        }
                    })
                    console.info(this.editForm);
                }

            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            axios.post('/dinner/order/goodsList').then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.data;
            })
        }
    })
</script>
</body>
</html>