<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>欢迎</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/dinner/css/font.css">
        <link rel="stylesheet" href="/dinner/css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="/dinner/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/dinner/js/xadmin.js"></script>

        <script>
            $().ready(function () {
                $.ajax({
                    type: "post",
                    url: "getSession",
                    dataType: "json",
                    success: function (data) {
                        var ss=data[0];
                        $("#Session").html(ss);
                    }
                })
              //  var myDate = new Date();
               // alert(111)
                var selectDate = '[[${selectDate}]]';
                if(selectDate=='')
                    $("#test1").val(getNowDate());
                else
                    $("#test1").val(selectDate);

            })
            $(function(){
                setInterval("getTime();",1000); //每隔一秒运行一次
            })
            //取得系统当前时间
            function getTime(){
                var myDate = new Date();
                var year = myDate.getFullYear();
                var month =  myDate.getMonth()+1;
                var date = myDate.getDate();
                var hours = myDate.getHours();
                var minutes = myDate.getMinutes();
                var seconds = myDate.getSeconds();
                month = month<10?"0"+month:month;
                date = date<10?"0"+date:date;
                hours = hours<10?"0"+hours:hours;
                seconds=seconds<10?"0"+seconds:seconds;
                $("#showDate").html(year+"-"+month+"-"+date+" "+hours+":"+minutes+":"+seconds); //将值赋给
            }
            function toOpen(t){
                var v =  $(t).attr("value");
                var v1 =  $(t).attr("value1");
                if($("#test1").val()!=getNowDate()){
                    alert("当前日期不是今天不能开桌");
                }else{
                    if(v1==0){
                        x_admin_show('开桌','/dinner/order/begin?number='+v,800,750)
                    }else if (v1==1) {
                        var a = $("#fourId").text();
                        x_admin_show('增加消费','/dinner/order/food?number='+v,800,750)
                    }else if (v1 == 2) {
                        x_admin_show('开桌','/dinner/order/food?number='+v,800,750)
                    }

                }
            }
            layui.use('laydate', function(){
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#test1' //指定元素
                });
            });
            function myFunction(){
               // alert($("#test1").val());
                window.location.href=  "/dinner/toMain?selectDate="+$("#test1").val()
            }
            function getNowDate(){
                var myDate = new Date();
                var year = myDate.getFullYear();
                var month =  myDate.getMonth()+1;
                var date = myDate.getDate();
                month = month<10?"0"+month:month;
                date = date<10?"0"+date:date;
                var nowDate=year+'-'+month+'-'+date;
                return nowDate;
            }
        </script>
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">当前时间:<span id="showDate"> </span><span style="float: right"> <input style="border: 0px;width: 90px;" type="text"   id="test1"  > <input type="button" value="查询预订" onclick="myFunction()"> </span></blockquote>
        <fieldset class="layui-elem-field">
            <legend>散座</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">

                                        <li class="layui-col-xs2" th:each="tb : ${tbList}" th:if="${tb.TAB_TYPE==1}">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3 th:text="${tb.TAB_ID}+'号桌'"> </h3>
                                                <p>
                                                    <cite style="color: #73716e" th:if="${tb.TAB_STATE == 0}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">空闲中</cite>
                                                    <cite style="color: #d3583a" th:if="${tb.TAB_STATE == 1}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">使用中</cite>
                                                    <cite style="color: #79b72f" th:if="${tb.TAB_STATE == 2}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">已预定</cite>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>包间</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2"   th:each="tb : ${tbList}" th:if="${tb.TAB_TYPE}==2">
                                            <a href="javascript:;" class="x-admin-backlog-body" >
                                                <h3 th:text="'包间'+${tb.TAB_ID}"> </h3>
                                                <p>
                                                    <cite style="color: #73716e" th:if="${tb.TAB_STATE == 0}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">空闲中</cite>
                                                    <cite style="color: #d3583a" th:if="${tb.TAB_STATE == 1}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">使用中</cite>
                                                    <cite style="color: #79b72f" th:if="${tb.TAB_STATE == 2}"  th:value="${tb.TAB_ID}" th:value1="${tb.TAB_STATE}" onclick="toOpen(this)">已预定</cite>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>